@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Raleway:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');



// Body


// Typography
$default-font: 'Raleway', sans-serif;
$second-font: 'Ubuntu', sans-serif;
$logo-font: 'Dancing Script', cursive;

// Colors
$primary-color: #00011f;
$secondary-color: rgb(173, 173, 173);
$nav-color: #3a3a3a;
$text-heading: #224daa;
$bg-color: #000000;

$white: #f8f8f8;
$black: #010101;

// Backgrounds




